@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1633181448394') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yiguanzhu:before {
  content: "\f00e1";
}

.icon-shoucang:before {
  content: "\f0114";
}

.icon-fenxiang:before {
  content: "\e650";
}

.icon-31xiala:before {
  content: "\f0221";
}

.icon-tianjia:before {
  content: "\e64d";
}

.icon-bendi:before {
  content: "\e63e";
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-xiazaidownload140:before {
  content: "\e614";
}

.icon-arrow-right:before {
  content: "\e622";
}

.icon-tianjia1:before {
  content: "\e752";
}

.icon-morentouxiang:before {
  content: "\e616";
}

.icon-rili:before {
  content: "\f034a";
}

.icon-maikefeng:before {
  content: "\e8c2";
}

.icon-gengduo-shuxiang:before {
  content: "\e8c4";
}

.icon-wodehaoyou:before {
  content: "\e7c1";
}

.icon-zengjia:before {
  content: "\e889";
}

.icon-changge:before {
  content: "\e895";
}

.icon-daohang:before {
  content: "\e62b";
}

.icon-fanhui:before {
  content: "\e610";
}

.icon-yinle:before {
  content: "\e623";
}

.icon-xuanze:before {
  content: "\e62e";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e629";
}

.icon-paihangbang:before {
  content: "\e782";
}

.icon-gaiicon-:before {
  content: "\e6cf";
}

.icon-bokeyuan:before {
  content: "\e603";
}

.icon-daoru_o:before {
  content: "\eb49";
}

.icon-aixin:before {
  content: "\eca1";
}

.icon-24gl-play:before {
  content: "\ea6d";
}

.icon-24gf-playCircle:before {
  content: "\ea82";
}

.icon-suiji:before {
  content: "\e71f";
}

.icon-shouyinji:before {
  content: "\e69d";
}

.icon-zhibo:before {
  content: "\e74f";
}

.icon-xiazai:before {
  content: "\e682";
}

.icon-yunpanlogo-_huabanfuben:before {
  content: "\e611";
}

.icon-gedan:before {
  content: "\e61b";
}

.icon-yinpin:before {
  content: "\e6ac";
}

.icon-hanhan-01-01:before {
  content: "\e6ae";
}

.icon-liebiaoxunhuan:before {
  content: "\e6a2";
}

.icon-shipin:before {
  content: "\e602";
}

